<section class="container">
  <h1>Animes</h1>
  <div class="d-flex justify-content-end">
    <ul class="list-unstyled d-flex raw">
      <span>Ordernar por: </span>
      <li> <a href="/animes/list/order=end"> Mayor a menor </a></li>
      <li>-<a href="/animes/list/order=score"> Mayor score </a></li>
      <li>-<a href="/animes/list/order=episodes"> Más episodios </a></li>
    </ul>
  </div>
  <hr />

  <div class="row">

    {{#each animes}}
      <div class="col-md-2">
        <article class="character">
          <h2><small>#{{mal_id}}</small></h2>
          <hr />
          <a href="/animes/{{_id}}"><img
              src="{{images.jpg.image_url}}"
              alt=""
            /></a>
          <p><strong>{{title}}</strong> </p>
          <p>Score: {{score}}</p>
          <p>Episodes: {{episodes}}</p>
          <p>Status: {{status}}</p>
          {{!-- <iframe src="{{trailer.embed_url}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" title="video" style="width: 50%; height: 450px;"></iframe>  --}}
          {{! <div class="btn-group" style="width: 100%"> }}

        </article>
        <form action="/users/my-anime-list" method="POST">

          <button type="submit"> Añadir a mi lista</button>
        </form>

      </div>
    {{/each}}

    <br />
    <br />
    <div class="d-flex justify-content-center">
      <ul class="list-unstyled d-flex raw">
        <span>Página: </span>
        <li><a href="/animes/list/"> 1 </a></li>
        <li>-<a href="/animes/list/2"> 2 </a></li>
        <li>-<a href="/animes/list/3"> 3 </a></li>
        <li>-<a href="/animes/list/4"> 4 </a></li>
        <li>-<a href="/animes/list/5"> 5 </a></li>
      </ul>
    </div>

  </div>

</section>