<section class="container">
  <h1>Animes</h1>
  <hr />

  <div class="row">

    {{#each animes.data}}
      <div class="col-md-4">
        <article class="character">
          <h2>{{name}} <small>(ID {{mal_id}})</small></h2>
          <hr />
          <p>Title: {{title}}</p>
          <p>Episodes: {{episodes}}</p>
          <p>Rank: {{rank}}</p>
          <p>Status: {{status}}</p>
          {{!-- <img src="{{trailer.images.small_image_url}}" alt=""> --}}
           <iframe src="{{trailer.embed_url}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" title="video" style="width: 50%; height: 450px;"></iframe> 
           <div class="btn-group" style="width: 100%">

        </article>
      </div>
    {{/each}}

    <br>
    <br>
<button id="cargar-mas">Página siguiente</button>

  </div>

</section>