<section class="container">
  <h1>Animes</h1>
  <hr />

  <div class="row">

    {{#each animes.data}}
      <div class="col-md-2">
        <article class="character">
          <h2>{{name}} <small>#{{mal_id}}</small></h2>
          <hr />
           <img src="{{images.jpg.large_image_url}}" alt=""> 
          <p><strong>Title:</strong>  {{title}}</p>
          <p>Episodes: {{episodes}}</p>
          <p>Rank: {{rank}}</p>
          <p>Status: {{status}}</p>
          <p>Favorite: {{favorites}}❤️</p>
           {{!-- <iframe src="{{trailer.embed_url}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" title="video" style="width: 50%; height: 450px;"></iframe>  --}}
           {{!-- <div class="btn-group" style="width: 100%"> --}}

        </article>
      </div>
    {{/each}}

    <br>
    <br>
<button id="cargar-mas">Página siguiente</button>

  </div>

</section>