<section class="container">
  <h1>Animes</h1>
  <div class="d-flex justify-content-end">
    <ul class="list-unstyled d-flex raw">
      <span>Ordenar por: </span>
      <li> <a href="/animes/list/order=end">Mayor a menor</a></li>
      <li>-<a href="/animes/list/order=score">Mayor score</a></li>
      <li>-<a href="/animes/list/order=episodes">Más episodios</a></li>
    </ul>
  </div>
  <hr />

  <div class="row">
    {{#each animes}}
      <div class="col-md-2">
        <article class="character">
          <h2><small>#{{mal_id}}</small></h2>
          <hr />
          <a href="/animes/{{_id}}"><img
              src="{{images.jpg.image_url}}"
              alt=""
            /></a>
          <p><strong>{{title}}</strong></p>
          <p>Score: {{score}}</p>
          <p>Episodes: {{episodes}}</p>
          <p>Status: {{status}}</p>
        </article>
        <form action="/users/my-anime-list/{{_id}}" method="POST">
          <button type="submit">Añadir a mi lista</button>
        </form>
      </div>
    {{/each}}

    <br />
    <br />
    <div class="pagination justify-content-center">
      {{#if hasPrevPage}}
        <a href="/animes/list/1">Página anterior</a>
      {{/if}}

      {{! Enlace a la página actual }}
      <span>Página {{currentPage}} </span>

      {{! Enlace a la página siguiente }}
      {{#if hasNextPage}}
        <a href="/animes/list/{{nextPage}}">Página siguiente</a>
      {{/if}}
    </div>
  </div>
</section>