<section class="container">
  <h1>Characters list</h1>
  <hr />

  <div class="row">

    {{#each characters.data}}
      <div class="col-md-4">
        <article class="character">
          <h2>{{name}} <small>(#{{mal_id}})</small></h2>
          <hr />
          <img src="{{images.jpg.image_url}}">
          <p>Name: {{name}}</p>
          <p>Favorites: {{favorites}}</p>
          <div style="height: 220px;px;width: 420px;px;border:1px solid #ccc;font:16px/26px Helvetica, Serif;overflow:auto;">
          <p >About: {{about}}</p>
          </div>
          <div class="btn-group" style="width: 100%">
            <a
              href="/movies-characters/edit/{{id}}"
              class="btn btn-outline-dark btn-sm"
            >Edit character</a>
            <a
              href="/movies-characters/delete/{{id}}"
              class="btn btn-dark btn-sm"
            >Delete character</a>
          </div>
        </article>
      </div>
    {{/each}}

    
{{#each  characters.pagination}}
    <p> PAGE:{{current_page}} </p>
    {{/each}}

  </div>

</section>