<div class="row">

    {{#each animes}}
      <div class="col-md-2">
        <article class="character">
          <h2><small>#{{mal_id}}</small></h2>
          <hr />
          <a href="/animes/{{_id}}"><img
              src="{{images.jpg.image_url}}"
              alt=""
            /></a>
          <p><strong>{{title}}</strong> </p>
          <p>Score: {{score}}</p>
          <p>Episodes: {{episodes}}</p>
          <p>Status: {{status}}</p>
          {{!-- <iframe src="{{trailer.embed_url}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" title="video" style="width: 50%; height: 450px;"></iframe>  --}}
          {{! <div class="btn-group" style="width: 100%"> }}

        </article>
        <form action="/users/my-anime-list/{{_id}}" method="POST">

          <button type="submit"> Añadir a mi lista</button>
        </form>

      </div>
    {{/each}}


</section>