<h1>Animes</h1>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  {{#each animes.animes}}
    <div class="col">
      <article class="character card">
        <h2 class="card-title"><small>#{{mal_id}}</small></h2>
        <hr />
        <a href="/animes/{{_id}}">
          <img src="{{images.jpg.image_url}}" class="card-img-top" alt="" />
        </a>
        <div class="card-body">
          <h5 class="card-title"><strong>{{title}}</strong></h5>
          <p class="card-text">Score: {{score}}</p>
          <p class="card-text">Episodes: {{episodes}}</p>
          <p class="card-text">Status: {{status}}</p>
        </div>
      </article>
    </div>
  {{/each}}
</div>