<h1 class="user-list-title">List of Users</h1>

{{#each users}}
  <div class="user-item">
    <p class="username">Nombre de usuario: {{username}}</p>
    <p class="email">Email: {{email}}</p>
    <p class="profile-img-label"></p>
    <img class="profile-img" src="{{profileImg}}" alt="Imagen de perfil" />
    <p class="description">Descripción: {{description}}</p>
    <a class="view-profile-link" href="/users/{{_id}}">Ver perfil</a>
    <hr class="divider" />
  </div>
{{/each}}